<div class="mt-5 px-5">
	<span>
		<a href="{{{all_apps_urls.[j9108c]}}}">index</a>
		<span class="consolas mx-1">/</span>
		<a href="{{{all_apps_urls.[j9108c]}}}/apps">apps</a>
		<span class="consolas mx-1">/</span>
		<a class="boxed px-1" href="{{{app_index}}}">eternity</a>
	</span>
	{{#if user}}
		<span class="float-right">
			<a href="https://www.reddit.com/u/{{{user.[username]}}}" target="_blank">u/<span id="username_wrapper">{{{user.[username]}}}</span></a>
			<div class="btn-group dropdown">
				<button id="settings_btn" type="button" class="btn btn-link pl-1 py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><i class="fas fa-cog"></i></button>
				<div id="settings_menu" class="dropdown-menu dropdown-menu-right text-center mr-2 px-2 py-0">
					<a href="{{{app_index}}}/logout">logout</a>
					<div class="dropdown-divider m-0"></div>
					{{#if user.[last_updated_epoch]}}
						<a id="export_anchor" href="#">export data</a>
						<div class="dropdown-divider m-0"></div>
					{{/if}}
					<a id="purge_anchor" href="#">purge account</a>
					<div id="purge_warning" class="bg-danger rounded text-light text-left line_height_1 mb-2 pb-1 d-none">
						<p class="mx-1">are you sure you want to purge your account?</p>
						<p class="mx-1">your data will stop being archived by eternity and cannot be restored</p>
						<p class="mx-1">this does not affect your Reddit account/data in any way</p>
						<p class="mx-1 mb-0">type <b>purge u/{{{user.[username]}}}</b> to confirm</p>
						<form>
							<div class="form-group d-flex justify-content-center mb-1">
								<input id="purge_input" class="form-control form-control-sm" type="text"/>
							</div>
							<button id="purge_cancel_btn" class="btn btn-sm btn-secondary float-left ml-1">cancel</button><button id="purge_confirm_btn" class="btn btn-sm btn-secondary float-right mr-1">confirm</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<div id="purge_spinner_container" class="rounded my-2 py-5 d-none">
						<div class="spinner-border text-secondary" role="status"><span class="sr-only">loading...</span></div>
					</div>
					<div id="redirect_notice" class="rounded line_height_1 my-2 d-none">
						<p>your account has been successfully purged from eternity</p>
						<p class="mb-0">you will be automatically redirected in <b id="redirect_countdown_wrapper">?</b>s</p>
					</div>
				</div>
			</div>
		</span>
	{{/if}}
</div>
<div class="text-center mt-3">
	{{#if user}}
		<h1 class="display-4">eternity</h1>
		{{#if user.[last_updated_epoch]}}
			<span>last updated: <b id="last_updated_wrapper">?</b> ago</span>
			<div class="d-flex justify-content-center">
				<div id="new_data_alert_wrapper" class="px-1 d-none"></div>
			</div>
			<div id="access_container" class="card card-body bg-dark mt-3 pb-3">
				<form>
					<div class="form-row d-flex justify-content-center">
						<div id="category_btn_group" class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options" checked/>saved</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>created</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>upvoted</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>downvoted</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>hidden</label>
						</div>
					</div>
					<div class="form-row d-flex justify-content-center mt-2">
						<div id="type_btn_group" class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>posts</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options"/>comments</label>
							<label class="btn btn-secondary shadow-none"><input type="radio" name="options" checked/>all</label>
						</div>
					</div>
					<div class="form-row mt-2">
						<div class="form-group col-12 col-sm-8 mb-0">
							<input type="text" id="search_input" class="form-control bg-light" placeholder="search"/>
						</div>
						<div id="subreddit_select_container" class="form-group col-12 col-sm-4 mb-0">
							<select id="subreddit_select" class="selectpicker form-control" data-width="false" data-size="10" data-live-search="true" title="in subreddit: all">
								<option>all</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="card card-body bg-dark border-top-0 mt-n2 pt-0 pb-2 pr-2">
				<div id="item_list" class="list-group list-group-flush border-0 d-none"></div>
				<div id="skeleton_list" class="list-group">
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
					<div class="skeleton_item rounded mb-2"></div>
				</div>
			</div>
		{{else if user.[firebase_service_acc_key_encrypted]}}
			<div id="loading_container" class="mt-1">
				<div class="spinner-border" role="status"><span class="sr-only">loading...</span></div>
				<p class="mt-n5"><span id="progress_wrapper" class="lead">?</span>%</p>
				<p class="mt-4 mb-0">retrieving your Reddit data for the first time. this may take a minute...</p>
			</div>
		{{else}}
			<div id="unlock_container" class="card card-body bg-dark text-left mt-3 pb-3">
				<div class="form-group">
					<p>to use eternity, you will need to go to <a href="https://console.firebase.google.com" target="_blank">Firebase console</a> and</p>
					<ul class="line_height_1 mt-n2">
						<li class="mt-3">create a new Firebase project <span class="text-light">named "eternity-{{{user.[username]}}}" (without the quotes)</span></li>
						<li class="mt-2">create a Realtime Database where your Reddit data will be stored (it is free up to 1gb disk storage, which should be enough to last you a lifetime)</li>
						<li class="mt-2">set the Realtime Database read and write security rules to "auth.token.owner == true" (with the quotes)</li>
						<li class="mt-2">get a service account key file and a web app config</li>
						<li class="no_bullet d-flex mt-2">
							<div class="w-100">
								<div id="file_input_container" class="custom-file">
									<input id="file_input" class="custom-file-input" type="file" accept=".json"/>
									<label for="file_input" id="file_input_label" class="custom-file-label text-left bg-light">Firebase service account key file</label>
								</div>
								<input type="text" id="config_input" class="form-control bg-light mt-1" placeholder="Firebase web app config"/>
							</div>
							<button id="validate_btn" class="btn btn-primary shadow-none ml-2">validate</button>
						</li>
						<li class="no_bullet mt-2"><div id="validate_alert_wrapper"></div></li>
						<li class="mt-2">follow <a id="instruction_video_anchor" href="#">this instruction video</a> for a step-by-step guide</li>
						<li id="instruction_video_wrapper" class="no_bullet embed-responsive embed-responsive-16by9 mt-2 d-none"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8" allowfullscreen></iframe></li> <!-- TODO record vid. name it "create new firebase project, and get key file and web app config" -->
					</ul>
					<p class="mt-4">terms and conditions</p>
					<ul class="line_height_1 mt-n2">
						<li class="mt-3">this app is released under the <a target="_blank" href="https://choosealicense.com/licenses/agpl-3.0">AGPL3 License</a></li>
						<li class="mt-2">you must log in to eternity at least once every 6 months or else your eternity account will be marked inactive and new Reddit data will not continue to sync to your database</li>
						<li class="mt-2">do not edit any of the Firebase project settings or database contents directly from Firebase. if you do and your eternity instance stops working, you may have to restart</li>
						<li class="mt-2">if by any chance you exceed the Firebase free tier disk storage, you will need to upgrade your Firebase plan in order for eternity to continue storing your new Reddit data. or, you can choose to export out the existing data and wipe the database to continue for free</li>
						<li class="mt-2">any notifications and updates regarding your eternity account (e.g., your account becomes inactive, you reach the storage limit) will be sent from <a href="mailto:eternity@j9108c.com">eternity@j9108c.com</a> to your email</li>
						<li class="no_bullet d-flex mt-2">
							<input type="text" id="email_input" class="form-control bg-light" placeholder="your email address"/>
							<button id="submit_btn" class="btn btn-primary shadow-none ml-2">submit</button>
						</li>
						<li class="no_bullet mt-2"><div id="submit_alert_wrapper"></div></li>
					</ul>
					<div data-toggle="tooltip" data-placement="top" title="complete the required steps above first">
						<button id="agree_and_continue_btn" class="btn btn-primary shadow-none w-100 mt-3" disabled>agree and continue</button>
					</div>
				</div>
			</div>
			<div id="modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">TITLE</h5>
							<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
						</div>
						<div class="modal-body">
							BODY
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	{{else}}
		<div class="jumbotron bg-dark mb-0 py-5">
			<h1 class="display-4">eternity</h1>
			<p class="lead text-left">{{{description}}}</p>
			<p class="lead text-left">additional functionality: search for items, filter by subreddit, bulk export data</p>
			<hr class="bg-secondary my-4"/>
			<p class="lead text-left">required <a href="https://www.reddit.com/dev/api/oauth" target="_blank">Reddit api oauth2 scopes</a>::</p>
			<ul class="text-left mt-n3">
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_identity" target="_blank">identity</a>: to get your username</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_history" target="_blank">history</a>: to get your items</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_read" target="_blank">read</a>: to get icons of subreddits/users</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_save" target="_blank">save</a>: to unsave items from your Reddit account (manual action)</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_edit" target="_blank">edit</a>: to delete items from your Reddit account (manual action)</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_vote" target="_blank">vote</a>: to unvote items from your Reddit account (manual action)</li>
				<li><a href="https://www.reddit.com/dev/api/oauth#scope_report" target="_blank">report</a>: to unhide items from your Reddit account (manual action)</li>
			</ul>
			<div class="row">
				<div class="col-1 col-sm-3"></div>
				<div class="col-10 col-sm-6">
					<a id="login_anchor" class="d-flex justify-content-center" href="{{{app_index}}}/login"><p id="login_btn" class="rounded-pill lead text-white mt-2">log in with <img id="reddit_logo" class="ml-n2 mr-n2 mb-1" src="{{{app_index}}}/static/images/reddit logo on dark.svg"/></p></a>
				</div>
				<div class="col-1 col-sm-3"></div>
			</div>
		</div>
	{{/if}}
</div>
<div id="pre_gh_space" class="pb-2"></div>
<a id="dl" class="d-none" download></a>
